.icon-size-sm {
  font-size: 15px;
}

.icon-size-md {
  font-size: 20px;
}

.size-sm {
  font-size: 11px;
}

.size-md {
  font-size: 25px;
}

.item-btn {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.item-btn:hover {
  filter: brightness(120%) saturate(120%);
}

.item-btn:active {
  background-color: #ffffff;
}
